<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Admin főoldal</title>
</head>
<body>
    <%- include("../partials/header.ejs") %>

    <h1>Főoldal</h1>
    <p>ez az admin főoldal</p>

    <p><% user.role %></p>
</body>
</html>