<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Kapcsolat</title>
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <%- include("partials/header.ejs") %>

    <h1>Kapcsolat</h1>
    <p>Ez a kapcsolat oldal.</p>
</body>
</html>
