<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Főoldal</title>
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <%- include("partials/header.ejs") %>

    <h1>Főoldal</h1>
    <p>Üdvözlünk a Sipos Motorservice alkalmazásban!</p>
</body>
</html>