<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Szolgáltatások</title> 
</head>
<body>
    <%- include("partials/header.ejs") %>

    <h1>Szolgáltatások</h1>
    <p>Ez a szolgáltatások oldal.</p>
</body>
</html>
